<!DOCTYPE html>
<html>
    <head>

        {{ghost_head}}

        <title>{{@blog.title}}</title>

        <link href="https://fonts.googleapis.com/css?family=Special+Elite|Lato" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />

    </head>

    <body>

            <div class="wrapper">
                <header><a href="/">cjbackman.com</a> | <a href="/about/">about</a></header>
                <div class="sidebar"></div>
                <div class="mainbar">{{{body}}}</div>
                <div class="sidebar"></div>
                <footer>&copy; <script>document.write(new Date().getFullYear());</script> Carl-Johan Backman</footer>
            </div>
        </div>

        {{ghost_foot}}

    </body>

</html>